/* Vars */
:root {
  --upload-color: #4caf50;
  --background-color: #f2f2f2;
  --input-background-color: #fff;
  --text-color: #333;
  --border-color: #ccc;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  --max-width: 600px;
  --min-width: 600px;
  --margin: 50px;
  --padding: 20px;
  --input-padding: 10px;
  --font-size: 16px;
  --border-radius: 8px;
  --border-width: 2px;

  --table-width: 250px;
  --table-hight: 70px;

  --link-color: #039450;
  --hover-link-color: #067323;
}

/* The base body */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
}

/* The main app */
#app {
  margin: 0px auto;
  padding: var(--padding);
  background-color: var(--input-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: fit-content;
  min-width: var(--min-width);
}

/* The input place for the file */
input {
  display: block;
  width: 100%;
  padding: var(--input-padding);
  margin-bottom: calc(var(--input-padding) * 2);
  font-size: var(--font-size);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

/* The name of the input file */
#fileInput {
  cursor: pointer;
  background-color: var(--upload-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size);
}

/* The output place for the file */
#result {
  padding: var(--input-padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  width: fit-content;
  height: fit-content;
}

#result::before {
  content: 'Chosen File: ';
  font-weight: bold;
}

/* Separating between exel sheets */
hr{
	background-color: var(--upload-color);
	border-radius: 5px;
	padding: var(--padding);
}

/* The sheets list */
a {
  color: var(--link-color);
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s ease; /* Smooth transition for color changes */
  align-items: center;
  text-align: left;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: transform 5s ease-in;
}

/* Hover effect for the 'a' element */
a:hover {
  color: var(--hover-link-color);  /* Change text color on hover */
  background-color: var(--input-background-color);
}

ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  background-color: #f4f4f4;
  border-radius: 8px;
}

li {
  display: flex;
  padding: 15px;
  align-items: center;
}

/* The style sheet */
table {
    display: inline-flex;
    table-layout: fixed; /* Ensure fixed layout */
    width: 100%;  /* Max good width */
}

td {
    border: var(--border-width) solid var(--border-color);
    padding: var(--input-padding);
	width: var(--table-width);
	height: var(--table-hight);
    box-sizing: border-box; /* Include padding and border in the total width/height */

    /* Ensure text does not overflow and add scrolling if necessary - great for reading exel */
    overflow: scroll;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

